---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Alicia Gómez Revilla</h1>
			<p class="hero__text">
				Una descripción breve y llamativa sobre el tema principal del sitio
			</p>
			<div class="buttons__container">
				<Boton href="/portfolioAlicia/docs/cv_jhon_doe.pdf" texto="CV"/>
				<Boton href="/portfolioAlicia/docs/cv_jhon_doe.pdf" texto="TFG"/>
			</div>
		</div>
    <img
		class="hero__img"
		src="/portfolioAlicia/img/jhon-doe.webp"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
